::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
h2{
  text-align: center;
  font-size: 1.5em;
}
.rowStyle{
  display: flex;
  flex-wrap: wrap;
}
.containerStyle{
  border: 2px solid #5d0cff;
  border-radius: 15px;
  height: 80vh;
}
.input-todo {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.input-todo::placeholder {
  color: #e2e2e2;
}

.button-todo {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
  90deg,
  rgba(93, 12, 255, 1) 0%,
  rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.input-todo.edit {
  border: 3px solid #149fff;
}

.button-todo.edit {
  background: linear-gradient(
  90deg,
  rgba(20, 159, 255, 1) 0%,
  rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.listTab{
  display: flex;
  flex-direction: column;
  position: relative !important;
  right: 0vh;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #dcdacb;
  padding: 0 !important;
}
.listItem{
  padding: 1rem 1.5rem;
  border: 0;
  align-items: center;
}
.listItem:hover{
  cursor: pointer;
  background-color: #f2f3f5;
}

/* chat */

.searchContainer{
  position: absolute !important;
  bottom: 0;
  height: auto;
  margin-bottom: 5px;
  width: 100%;
}
.buttonSearch{
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.2;
}